Repository janosh/diagrams: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml-files, validate-typst

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: ^assets/.+\.svg$
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        entry: deno fmt
        types_or: [file]
        language: system
        args: [--config, site/deno.jsonc, --permit-no-files]
        exclude: ^readme.md$
      - id: deno-lint
        name: Deno lint
        entry: deno lint
        types_or: [file]
        args: [--config, site/deno.jsonc, --permit-no-files, --fix]
        language: system

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.36.0
    hooks:
      - id: eslint
        types: [file]
        args: [--fix, --config, site/eslint.config.js]
        files: \.(js|ts|svelte)$
        additional_dependencies:
          - eslint
          - eslint-plugin-svelte
          - svelte
          - typescript
          - typescript-eslint
          - '@stylistic/eslint-plugin'

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        exclude_types: [svg]
        args: [--ignore-words-list, 'noe,ket,ba,te,nd', --check-filenames]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: local
    hooks:
      - id: check-yaml-files
        name: Check YAML files match folder names, have descriptions and unique tags
        entry: python scripts/check_yaml_files.py
        language: python
        pass_filenames: false
        types: [yaml]
        additional_dependencies: [pyyaml]

      - id: update-readme-table
        name: Update readme.md table
        entry: python scripts/update_readme_table.py
        language: python
        pass_filenames: false
        types: [file]
        additional_dependencies: [pyyaml]

      - id: validate-typst
        name: Validate Typst files compile without errors
        language: system
        # xargs exit 255 to fail on first compile error https://stackoverflow.com/a/26485626/4034025
        # bash for-loop adapted from https://github.com/pre-commit/pre-commit/issues/394#issuecomment-588562966
        # typst check command tracked in https://github.com/typst/typst/issues/3792
        entry: bash -c 'for x in "$@"; do typst compile "$x" - > /dev/null || exit 255; done' --
        files: \.typ$
        types: [file]

Fix saddle-point page scale and seed the alloy randomness
  assets/high-entropy-alloy/high-entropy-alloy.tex
  assets/saddle-point/saddle-point.typ
Due: validate-typst

Port gravitons and feynman-diagram-loops from TikZ to Typst
  assets/_shared/flow-equation.typ
  assets/feynman-diagram-loops/feynman-diagram-loops.typ
  assets/feynman-diagram-loops/feynman-diagram-loops.yml
  assets/gravitons/gravitons.typ
  readme.md
Due: check-yaml-files, validate-typst

Drop feynman-diagram-loops as redundant
  assets/_shared/flow-equation.typ
  assets/feynman-diagram-loops/feynman-diagram-loops-hd.png
  assets/feynman-diagram-loops/feynman-diagram-loops.pdf
  assets/feynman-diagram-loops/feynman-diagram-loops.png
  assets/feynman-diagram-loops/feynman-diagram-loops.svg
  assets/feynman-diagram-loops/feynman-diagram-loops.tex
  assets/feynman-diagram-loops/feynman-diagram-loops.typ
  assets/feynman-diagram-loops/feynman-diagram-loops.yml
  assets/gravitons/gravitons.typ
  readme.md
Due: check-yaml-files, validate-typst

Give each momentum arrow its own cetz name
  assets/feynman-diagram-1/feynman-diagram-1.typ
  assets/feynman-diagram-3/feynman-diagram-3.typ
  assets/feynman-diagram-4/feynman-diagram-4.typ
Due: validate-typst

Fix visual defects found auditing the rendered diagrams
  assets/_shared/feynman.typ
  assets/_shared/matsubara.typ
  assets/_shared/network.typ
  assets/_shared/phase-space.typ
  assets/_shared/plot.typ
  assets/_shared/theme.typ
  assets/atomistic-gpu-batching/atomistic-gpu-batching.typ
  assets/autoencoder/autoencoder.typ
  assets/concave-functions/concave-functions.typ
  assets/convex-functions/convex-functions.typ
  assets/critical-temperature/critical-temperature.typ
  assets/deep-belief-network/deep-belief-network.typ
  assets/divergence/divergence.typ
  assets/dropout/dropout.typ
  assets/fermi-dirac-distro/fermi-dirac-distro.typ
  assets/in-flight-auto-batcher/in-flight-auto-batcher.typ
  assets/isotherms/isotherms.typ
  assets/made/made.typ
  assets/materials-informatics/materials-informatics.typ
  assets/maxwell-boltzmann-distribution/maxwell-boltzmann-distribution.typ
  assets/ml-activations/ml-activations.typ
  assets/multilayer-perceptron/multilayer-perceptron.typ
  assets/otto-cycle/otto-cycle.typ
  assets/random-forest/random-forest.typ
  assets/roc-curve/roc-curve.typ
  assets/statistical-energy-distributions/statistical-energy-distributions.typ
  assets/variational-autoencoder/variational-autoencoder.typ
  assets/zt-vs-n/zt-vs-n.typ
Due: validate-typst

Give every looped cetz element a unique name
  assets/matsubara-contour-5/matsubara-contour-5.typ
  assets/two-point-no-cutoff/two-point-no-cutoff.typ
  assets/two-point-propagator-flow/two-point-propagator-flow.typ
Due: validate-typst

Name the variadic on cross/dressed-vertex for what it styles
  assets/_shared/feynman.typ
Due: validate-typst

Dash only the series that hue can no longer separate
  assets/_shared/theme.typ
Due: validate-typst

Describe the last nine diagrams and enforce that going forward
  assets/feynman-diagram-2/feynman-diagram-2.yml
  assets/feynman-diagram-3/feynman-diagram-3.yml
  assets/feynman-diagram-4/feynman-diagram-4.yml
  assets/feynman-diagram-loop/feynman-diagram-loop.yml
  assets/potential-triangle/potential-triangle.yml
  assets/propagator-fluctuations/propagator-fluctuations.yml
  assets/relation-space/relation-space.yml
  assets/tori/tori.yml
  assets/unregularized-propagator-diagrams/unregularized-propagator-diagrams.yml
  scripts/check_yaml_files.py
Due: check-yaml-files

Stop claiming the type scale guarantees legibility
  assets/_shared/theme.typ
Due: validate-typst

Rewrite fourteen weak diagram descriptions
  assets/complex-sign-plane/complex-sign-plane.yml
  assets/dft-mlff-cff-speed-accuracy-transfer/dft-mlff-cff-speed-accuracy-transfer.yml
  assets/divergence/divergence.yml
  assets/geometric-bayes/geometric-bayes.yml
  assets/harmonic-oscillator-energy-vs-freq/harmonic-oscillator-energy-vs-freq.yml
  assets/harmonic-oscillator-energy-vs-inv-temp/harmonic-oscillator-energy-vs-inv-temp.yml
  assets/heatmap/heatmap.yml
  assets/in-flight-auto-batcher/in-flight-auto-batcher.yml
  assets/materials-informatics-challenges/materials-informatics-challenges.yml
  assets/momentum-shell/momentum-shell.yml
  assets/plate-capacitor/plate-capacitor.yml
  assets/roc-curve/roc-curve.yml
  assets/self-attention/self-attention.yml
  assets/two-point-no-cutoff/two-point-no-cutoff.yml
Due: check-yaml-files

Drop the invented type scale and the remaining absolute claims
  assets/_shared/theme.typ
  assets/atomistic-gpu-batching/atomistic-gpu-batching.typ
  assets/in-flight-auto-batcher/in-flight-auto-batcher.typ
  assets/materials-informatics/materials-informatics.typ
Due: validate-typst

Trim theme.typ: drop duplicated rationale and unused stroke tiers
  assets/_shared/theme.typ
Due: validate-typst

refactor: migrate to svelte-widgets v1.1.0
  site/package.json
  site/src/app.css
  site/src/lib/CodeBlock.svelte
  site/src/lib/DiagramCard.svelte
  site/src/lib/Tags.svelte
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
Due: none

build: take the shared vite config from svelte-widgets
  site/package.json
  site/pnpm-workspace.yaml
  site/vite.config.ts
Due: check-yaml-files

build: drop the stray pnpm-workspace.yaml
  site/package.json
  site/pnpm-workspace.yaml
Due: check-yaml-files

Migrate to svelte-widgets, render descriptions at build time (#59)
  .github/workflows/link-check.yml
  assets/bose-einstein-distribution-3d/bose-einstein-distribution-3d.typ
  assets/critical-temperature/critical-temperature.typ
  assets/dft-choices/dft-choices.typ
  assets/dft-jacobs-ladder/dft-jacobs-ladder.typ
  assets/magnetism-types/magnetism-types-hd.png
  assets/magnetism-types/magnetism-types.pdf
  assets/magnetism-types/magnetism-types.png
  assets/magnetism-types/magnetism-types.svg
  assets/magnetism-types/magnetism-types.typ
  assets/magnetism-types/magnetism-types.yml
  assets/mexican-hat/mexican-hat.typ
  assets/normalizing-flow/normalizing-flow.typ
  assets/regular-vs-bayes-nn/regular-vs-bayes-nn.typ
  assets/reinforcement-learning-greedy-policy/reinforcement-learning-greedy-policy.typ
  assets/thermo-ensemble-trafos/thermo-ensemble-trafos.typ
  assets/timed-event-graph/timed-event-graph.typ
  readme.md
  site/package.json
  site/src/app.css
  site/src/app.d.ts
  site/src/app.html
  site/src/lib/CodeBlock.svelte
  site/src/lib/DiagramCard.svelte
  site/src/lib/Tags.svelte
  site/src/lib/index.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
  site/vite.config.ts
Due: check-yaml-files, validate-typst

Add visual DFT guides and adopt shared code blocks
  .github/workflows/ci.yml
  assets/h2-bond-breaking/h2-bond-breaking-hd.png
  assets/h2-bond-breaking/h2-bond-breaking.pdf
  assets/h2-bond-breaking/h2-bond-breaking.png
  assets/h2-bond-breaking/h2-bond-breaking.svg
  assets/h2-bond-breaking/h2-bond-breaking.typ
  assets/h2-bond-breaking/h2-bond-breaking.yml
  assets/xc-functional/xc-functional-hd.png
  assets/xc-functional/xc-functional.pdf
  assets/xc-functional/xc-functional.png
  assets/xc-functional/xc-functional.svg
  assets/xc-functional/xc-functional.typ
  assets/xc-functional/xc-functional.yml
  readme.md
  site/package.json
  site/src/lib/CodeBlock.svelte
  site/vite.config.ts
Due: check-yaml-files, validate-typst

Make syntax colors follow the selected site theme
  site/src/app.css
  site/tests/visual/gallery.visual.ts
Due: none

Link directly to Tong's string theory lecture notes
  assets/string-worldsheet-topologies/string-worldsheet-topologies.yml
Due: check-yaml-files

Deduplicate drawing logic within standalone diagram guides
  assets/amplitude-vs-frequency-modulation/amplitude-vs-frequency-modulation.typ
  assets/atomistic-simulation-methods/atomistic-simulation-methods.typ
  assets/autoencoder-architectures/autoencoder-architectures.typ
  assets/complex-sign-function/complex-sign-function.typ
  assets/convexity-and-jensens-inequality/convexity-and-jensens-inequality.typ
  assets/feynman-building-blocks/feynman-building-blocks.typ
  assets/fractal-atlas/fractal-atlas.typ
  assets/gibbs-free-energy/gibbs-free-energy.typ
  assets/gpu-batching/gpu-batching.typ
  assets/graph-neural-networks/graph-neural-networks.typ
  assets/matsubara-contours/matsubara-contours.typ
  assets/ml-activations/ml-activations.typ
  assets/normalizing-flows/normalizing-flows.typ
  assets/particle-statistics/particle-statistics.typ
  assets/quantum-harmonic-oscillator/quantum-harmonic-oscillator.typ
  assets/regulated-and-unregulated-propagators/regulated-and-unregulated-propagators.typ
  assets/string-worldsheet-topologies/string-worldsheet-topologies.typ
  assets/symmetry-breaking/symmetry-breaking.typ
Due: validate-typst

Trim syntax theme colors and remove Euler screenshot baselines
  site/src/app.css
  site/tests/visual/diagram-crop.css
  site/tests/visual/gallery.visual.ts
  site/tests/visual/screenshots/euler-fullscreen-dark.png
  site/tests/visual/screenshots/euler-fullscreen-light.png
  site/tests/visual/screenshots/euler-page-dark.png
  site/tests/visual/screenshots/euler-page-light.png
Due: none

Remove automatic diagram asset commits
  .github/workflows/render-diagrams.yml
Due: check-yaml-files

Deduplicate diagram layouts and repeated drawing code
  assets/2d-convolution/2d-convolution.typ
  assets/_shared/layout.typ
  assets/amplitude-vs-frequency-modulation/amplitude-vs-frequency-modulation.typ
  assets/atomistic-simulation-methods/atomistic-simulation-methods.typ
  assets/autoencoder-architectures/autoencoder-architectures.typ
  assets/bose-einstein-distribution-3d/bose-einstein-distribution-3d.typ
  assets/branch-cuts-2/branch-cuts-2.typ
  assets/complex-sign-function/complex-sign-function.typ
  assets/convexity-and-jensens-inequality/convexity-and-jensens-inequality.typ
  assets/dft-choices/dft-choices.typ
  assets/ferroelectric-response/ferroelectric-response.typ
  assets/feynman-building-blocks/feynman-building-blocks.typ
  assets/fractal-atlas/fractal-atlas.typ
  assets/gibbs-free-energy/gibbs-free-energy.typ
  assets/gpu-batching/gpu-batching.typ
  assets/graph-neural-networks/graph-neural-networks.typ
  assets/h2-bond-breaking/h2-bond-breaking.typ
  assets/made/made.typ
  assets/matsubara-contours/matsubara-contours.typ
  assets/ml-activations/ml-activations.typ
  assets/normalizing-flows/normalizing-flows.typ
  assets/organic-molecule/organic-molecule.typ
  assets/particle-statistics/particle-statistics.typ
  assets/plane-to-torus/plane-to-torus.typ
  assets/quantum-harmonic-oscillator/quantum-harmonic-oscillator.typ
  assets/regulated-and-unregulated-propagators/regulated-and-unregulated-propagators.typ
  assets/single-head-attention/single-head-attention.typ
  assets/string-worldsheet-topologies/string-worldsheet-topologies.typ
  assets/symmetry-breaking/symmetry-breaking.typ
  assets/theta-beta-m-diagram/theta-beta-m-diagram.typ
  assets/torus/torus.typ
  assets/train-test-split/train-test-split.typ
  assets/xc-functional/xc-functional.typ
  readme.md
  site/tests/gallery.test.ts
  site/vite.config.ts
Due: validate-typst

Add Python and metadata checks and stop failed renders
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  readme.md
  scripts/check_yaml_files.py
  scripts/render_tikz.py
  scripts/render_typst.py
  tests/test_diagram_geometry.py
  tests/test_diagram_themes.py
  tests/test_metadata.py
Due: check-yaml-files

Clear stale diagram images during gallery navigation
  site/src/lib/DiagramCard.svelte
  site/src/lib/index.ts
  site/src/routes/[slug]/+page.svelte
  site/tests/visual/gallery.visual.ts
Due: none

Fix train/test row counts and table bounds
  assets/train-test-split/train-test-split-dark.png
  assets/train-test-split/train-test-split-hd.png
  assets/train-test-split/train-test-split.pdf
  assets/train-test-split/train-test-split.png
  assets/train-test-split/train-test-split.svg
  assets/train-test-split/train-test-split.typ
  tests/test_diagram_geometry.py
Due: validate-typst

Fix CI setup and restrict workflow credentials
  .github/workflows/ci.yml
  readme.md
  site/playwright.config.ts
  site/tests/visual/gallery.visual.ts
  tests/test_ci.py
Due: check-yaml-files

Assert exact train/test highlight positions
  tests/test_diagram_geometry.py
Due: none

Run type checks in a complete hook environment
  .pre-commit-config.yaml
Due: check-yaml-files
