Repository janosh/diagrams: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml-files, validate-typst

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: ^assets/.+\.svg$
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        entry: deno fmt
        types_or: [file]
        language: system
        args: [--config, site/deno.jsonc, --permit-no-files]
        exclude: ^readme.md$
      - id: deno-lint
        name: Deno lint
        entry: deno lint
        types_or: [file]
        args: [--config, site/deno.jsonc, --permit-no-files, --fix]
        language: system

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.36.0
    hooks:
      - id: eslint
        types: [file]
        args: [--fix, --config, site/eslint.config.js]
        files: \.(js|ts|svelte)$
        additional_dependencies:
          - eslint
          - eslint-plugin-svelte
          - svelte
          - typescript
          - typescript-eslint
          - '@stylistic/eslint-plugin'

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        stages: [pre-commit, commit-msg]
        exclude_types: [svg]
        args: [--ignore-words-list, 'noe,ket,ba,te,nd', --check-filenames]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        # MD013: line too long
        # MD033: no inline HTML
        # MD041: first line in a file should be a top-level heading
        args: [--disable, MD013, MD033, MD041, '--']

  - repo: local
    hooks:
      - id: check-yaml-files
        name: Check YAML files match folder names, have descriptions and unique tags
        entry: python scripts/check_yaml_files.py
        language: python
        pass_filenames: false
        types: [yaml]
        additional_dependencies: [pyyaml]

      - id: update-readme-table
        name: Update readme.md table
        entry: python scripts/update_readme_table.py
        language: python
        pass_filenames: false
        types: [file]
        additional_dependencies: [pyyaml]

      - id: validate-typst
        name: Validate Typst files compile without errors
        language: system
        # xargs exit 255 to fail on first compile error https://stackoverflow.com/a/26485626/4034025
        # bash for-loop adapted from https://github.com/pre-commit/pre-commit/issues/394#issuecomment-588562966
        # typst check command tracked in https://github.com/typst/typst/issues/3792
        entry: bash -c 'for x in "$@"; do typst compile "$x" - > /dev/null || exit 255; done' --
        files: \.typ$
        types: [file]

Keep every diagram source standalone
  assets/_shared/layout.typ
  assets/amplitude-vs-frequency-modulation/amplitude-vs-frequency-modulation.typ
  assets/atomistic-simulation-methods/atomistic-simulation-methods.typ
  assets/autoencoder-architectures/autoencoder-architectures.typ
  assets/complex-sign-function/complex-sign-function.typ
  assets/convexity-and-jensens-inequality/convexity-and-jensens-inequality.typ
  assets/feynman-building-blocks/feynman-building-blocks.typ
  assets/fractal-atlas/fractal-atlas.typ
  assets/gibbs-free-energy/gibbs-free-energy.typ
  assets/gpu-batching/gpu-batching.typ
  assets/graph-neural-networks/graph-neural-networks.typ
  assets/matsubara-contours/matsubara-contours.typ
  assets/ml-activations/ml-activations.typ
  assets/normalizing-flows/normalizing-flows.typ
  assets/particle-statistics/particle-statistics.typ
  assets/quantum-harmonic-oscillator/quantum-harmonic-oscillator.typ
  assets/regulated-and-unregulated-propagators/regulated-and-unregulated-propagators.typ
  assets/string-worldsheet-topologies/string-worldsheet-topologies.typ
  assets/symmetry-breaking/symmetry-breaking.typ
  readme.md
  scripts/render_typst.py
  site/src/lib/index.ts
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/tests/gallery.test.ts
  site/vite.config.ts
  tests/test_diagram_geometry.py
Due: validate-typst

Show diagram descriptions through info icons
  site/src/lib/DiagramCard.svelte
  site/src/routes/[slug]/+page.svelte
  site/tests/visual/gallery.visual.ts
Due: none

Migrate to SvelteKit 3, vite-plus 1.0 and TypeScript 6
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/playwright.config.ts
  site/readme.md
  site/src/app.d.ts
  site/src/lib/DiagramCard.svelte
  site/src/lib/Tags.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/tests/gallery.test.ts
  site/tsconfig.json
  site/vite.config.ts
Due: check-yaml-files

Adapt to svelte-widgets ButtonGroup and PrevNext APIs
  site/src/lib/Tags.svelte
  site/src/routes/[slug]/+page.svelte
Due: none

Skip setup-uv in the unit CI job
  .github/workflows/ci.yml
Due: check-yaml-files

Read filters from page.url.searchParams via svelte-widgets QueryParams
  site/src/lib/state.svelte.ts
  site/src/routes/+layout.svelte
Due: none

Migrate site to SvelteKit 3, vite-plus 1.0 and TypeScript 6 (#62)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  readme.md
  site/package.json
  site/playwright.config.ts
  site/readme.md
  site/src/app.d.ts
  site/src/lib/DiagramCard.svelte
  site/src/lib/Tags.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/+error.svelte
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/tests/gallery.test.ts
  site/tsconfig.json
  site/vite.config.ts
Due: check-yaml-files

spherical-volume-element
  assets/bloch-sphere/bloch-sphere.pdf
  assets/spherical-volume-element/citation-snippet.txt
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.png
  assets/spherical-volume-element/spherical-volume-element.svg
  assets/spherical-volume-element/spherical-volume-element.typ
  assets/spherical-volume-element/spherical-volume-element.yml
Due: check-yaml-files, validate-typst

Add spherical volume element diagram
  assets/spherical-volume-element/citation-snippet.txt
  citation.cff
Due: none

Draw hidden edges first
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.png
  assets/spherical-volume-element/spherical-volume-element.svg
  assets/spherical-volume-element/spherical-volume-element.typ
Due: validate-typst

Combine coordinate Jacobian diagrams
  assets/bloch-sphere/bloch-sphere.pdf
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates-dark.avif
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.avif
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.pdf
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.png
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.svg
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.tex
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.typ
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.yml
  assets/change-of-variables/change-of-variables-dark.avif
  assets/change-of-variables/change-of-variables.avif
  assets/change-of-variables/change-of-variables.pdf
  assets/change-of-variables/change-of-variables.png
  assets/change-of-variables/change-of-variables.svg
  assets/change-of-variables/change-of-variables.tex
  assets/change-of-variables/change-of-variables.typ
  assets/change-of-variables/change-of-variables.yml
  assets/euler-angles/euler-angles.yml
  assets/spherical-volume-element/spherical-volume-element-dark.avif
  assets/spherical-volume-element/spherical-volume-element.avif
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.png
  assets/spherical-volume-element/spherical-volume-element.svg
  assets/spherical-volume-element/spherical-volume-element.typ
  assets/spherical-volume-element/spherical-volume-element.yml
  readme.md
  site/tests/gallery.test.ts
  site/tests/visual/gallery.visual.ts
  tests/test_diagram_geometry.py
  tests/test_diagram_themes.py
Due: check-yaml-files, validate-typst

Add spherical volume element and coordinate Jacobian comparison (#63)
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates-dark.avif
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.avif
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.pdf
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.png
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.svg
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.tex
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.typ
  assets/cartesian-vs-polar-coordinates/cartesian-vs-polar-coordinates.yml
  assets/change-of-variables/change-of-variables-dark.avif
  assets/change-of-variables/change-of-variables.avif
  assets/change-of-variables/change-of-variables.pdf
  assets/change-of-variables/change-of-variables.png
  assets/change-of-variables/change-of-variables.svg
  assets/change-of-variables/change-of-variables.tex
  assets/change-of-variables/change-of-variables.typ
  assets/change-of-variables/change-of-variables.yml
  assets/euler-angles/euler-angles.yml
  assets/spherical-volume-element/spherical-volume-element-dark.avif
  assets/spherical-volume-element/spherical-volume-element.avif
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.png
  assets/spherical-volume-element/spherical-volume-element.svg
  assets/spherical-volume-element/spherical-volume-element.typ
  assets/spherical-volume-element/spherical-volume-element.yml
  citation.cff
  readme.md
  site/tests/gallery.test.ts
  site/tests/visual/gallery.visual.ts
  tests/test_diagram_geometry.py
  tests/test_diagram_themes.py
Due: check-yaml-files, validate-typst

Crop spherical volume element figure
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.png
  assets/spherical-volume-element/spherical-volume-element.svg
  assets/spherical-volume-element/spherical-volume-element.typ
Due: validate-typst

Focus spherical volume and Euler angle diagrams
  assets/euler-angles/euler-angles-dark.avif
  assets/euler-angles/euler-angles.avif
  assets/euler-angles/euler-angles.pdf
  assets/euler-angles/euler-angles.png
  assets/euler-angles/euler-angles.svg
  assets/euler-angles/euler-angles.typ
  assets/spherical-volume-element/spherical-volume-element-dark.avif
  assets/spherical-volume-element/spherical-volume-element.avif
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.png
  assets/spherical-volume-element/spherical-volume-element.svg
  assets/spherical-volume-element/spherical-volume-element.typ
  tests/test_diagram_geometry.py
Due: validate-typst

Simplify crop rendering and geometry checks
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.typ
  tests/test_diagram_geometry.py
Due: validate-typst

Focus the spherical volume element and enlarge Euler angles (#64)
  assets/euler-angles/euler-angles-dark.avif
  assets/euler-angles/euler-angles.avif
  assets/euler-angles/euler-angles.pdf
  assets/euler-angles/euler-angles.png
  assets/euler-angles/euler-angles.svg
  assets/euler-angles/euler-angles.typ
  assets/spherical-volume-element/spherical-volume-element-dark.avif
  assets/spherical-volume-element/spherical-volume-element.avif
  assets/spherical-volume-element/spherical-volume-element.pdf
  assets/spherical-volume-element/spherical-volume-element.png
  assets/spherical-volume-element/spherical-volume-element.svg
  assets/spherical-volume-element/spherical-volume-element.typ
  tests/test_diagram_geometry.py
Due: validate-typst
