Repository janosh/diagrams: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml-files, validate-typst

check-yaml-files:
  name: Check YAML files match folder names, have descriptions and unique tags
  entry: python scripts/check_yaml_files.py
  language: python
  pass_filenames: false
  additional_dependencies:
  - pyyaml

validate-typst:
  name: Validate Typst files compile without errors
  language: system
  entry: bash -c 'for x in "$@"; do typst compile "$x" - > /dev/null || exit 255; done' --

install typst in lint CI
  .github/workflows/lint.yml
  .pre-commit-config.yaml
Due: check-yaml-files

Typst code syntax highlighting (#54)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  site/eslint.config.js
  site/package.json
  site/src/app.html
  site/src/lib/CodeBlock.svelte
  site/src/lib/Tags.svelte
  site/src/lib/ThemeToggle.svelte
  site/src/lib/state.svelte.ts
  site/src/routes/+error.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
Due: check-yaml-files

upgrade to typst 0.14.0
  .pre-commit-config.yaml
  assets/dft-choices/dft-choices.typ
  assets/feynman-diagram-1/feynman-diagram-1.typ
  assets/feynman-diagram-2/feynman-diagram-2.typ
  assets/feynman-diagram-3/feynman-diagram-3.typ
  assets/feynman-diagram-4/feynman-diagram-4.typ
  assets/feynman-diagram-loop/feynman-diagram-loop.typ
  assets/feynman-diagram-one-point/feynman-diagram-one-point.typ
  assets/feynman-diagrams-loop-regulator/feynman-diagrams-loop-regulator.typ
  assets/gas-pressure-on-wall/gas-pressure-on-wall.typ
  assets/harmonic-oscillator-energy-vs-freq/harmonic-oscillator-energy-vs-freq.typ
  assets/harmonic-oscillator-energy-vs-inv-temp/harmonic-oscillator-energy-vs-inv-temp.typ
  assets/kohn-sham-cycle/kohn-sham-cycle.typ
  assets/masked-autoregressive-flow/masked-autoregressive-flow.typ
  assets/periodic-table/periodic-table.tex
  assets/periodic-table/periodic-table.typ
  assets/propagator-fluctuations/propagator-fluctuations.typ
  assets/risk-opportunity-matrix/risk-opportunity-matrix.typ
  assets/rnvp-affine-coupling-layer/rnvp-affine-coupling-layer.typ
  assets/saddle-point/saddle-point.typ
  assets/skip-connection/skip-connection.typ
  assets/statistical-energy-distributions/statistical-energy-distributions.typ
  assets/two-point-no-cutoff/two-point-no-cutoff.typ
  assets/two-point-propagator-flow/two-point-propagator-flow.typ
  assets/unregularized-propagator-diagrams/unregularized-propagator-diagrams.typ
  assets/wetterich-equation/wetterich-equation.typ
  scripts/gs-pdf-compress.sh
  scripts/pdf2png.sh
  scripts/pyproject.toml
  site/deno.jsonc
Due: check-yaml-files, validate-typst

upgrade to typst 0.14.0
  .pre-commit-config.yaml
  assets/dft-choices/dft-choices.typ
  assets/feynman-diagram-1/feynman-diagram-1.typ
  assets/feynman-diagram-2/feynman-diagram-2.typ
  assets/feynman-diagram-3/feynman-diagram-3.typ
  assets/feynman-diagram-4/feynman-diagram-4.typ
  assets/feynman-diagram-loop/feynman-diagram-loop.typ
  assets/feynman-diagram-one-point/feynman-diagram-one-point.typ
  assets/feynman-diagrams-loop-regulator/feynman-diagrams-loop-regulator.typ
  assets/gas-pressure-on-wall/gas-pressure-on-wall.typ
  assets/harmonic-oscillator-energy-vs-freq/harmonic-oscillator-energy-vs-freq.typ
  assets/harmonic-oscillator-energy-vs-inv-temp/harmonic-oscillator-energy-vs-inv-temp.typ
  assets/kohn-sham-cycle/kohn-sham-cycle.typ
  assets/masked-autoregressive-flow/masked-autoregressive-flow.typ
  assets/periodic-table/periodic-table.tex
  assets/periodic-table/periodic-table.typ
  assets/propagator-fluctuations/propagator-fluctuations.typ
  assets/risk-opportunity-matrix/risk-opportunity-matrix.typ
  assets/rnvp-affine-coupling-layer/rnvp-affine-coupling-layer.typ
  assets/saddle-point/saddle-point.typ
  assets/skip-connection/skip-connection.typ
  assets/statistical-energy-distributions/statistical-energy-distributions.typ
  assets/two-point-no-cutoff/two-point-no-cutoff.typ
  assets/two-point-propagator-flow/two-point-propagator-flow.typ
  assets/unregularized-propagator-diagrams/unregularized-propagator-diagrams.typ
  assets/wetterich-equation/wetterich-equation.typ
  scripts/gs-pdf-compress.sh
  scripts/pdf2png.sh
  scripts/pyproject.toml
  site/deno.jsonc
  site/package.json
  site/src/lib/CodeBlock.svelte
  site/src/lib/DiagramCard.svelte
  site/src/lib/Tags.svelte
  site/src/routes/+layout.svelte
Due: check-yaml-files, validate-typst

convert m-theory, roost-update, aviary-logo diagrams to typst
  .pre-commit-config.yaml
  assets/aviary-logo/aviary-logo.typ
  assets/m-theory/m-theory.typ
  assets/roost-update/roost-update.typ
  readme.md
  scripts/pyproject.toml
  scripts/update_readme_table.py
  site/package.json
Due: check-yaml-files, validate-typst

Add diagram of chain homology
  assets/chain-homology/chain-homology.typ
  assets/chain-homology/chain-homology.yml
Due: check-yaml-files, validate-typst

render_typst
  assets/chain-homology/chain-homology-hd.png
  assets/chain-homology/chain-homology.pdf
  assets/chain-homology/chain-homology.png
  assets/chain-homology/chain-homology.svg
  assets/chain-homology/chain-homology.yml
  readme.md
Due: check-yaml-files

fix comment
  scripts/render_typst.py
Due: none

Fix SvelteKit config and update dependencies
  .pre-commit-config.yaml
  assets/chain-homology/chain-homology.yml
  site/package.json
  site/src/lib/CodeBlock.svelte
  site/static
  site/svelte.config.js
Due: check-yaml-files

Add diagram of chain homology (#56)
  .pre-commit-config.yaml
  assets/chain-homology/chain-homology-hd.png
  assets/chain-homology/chain-homology.pdf
  assets/chain-homology/chain-homology.png
  assets/chain-homology/chain-homology.svg
  assets/chain-homology/chain-homology.typ
  assets/chain-homology/chain-homology.yml
  readme.md
  scripts/render_typst.py
  site/package.json
  site/src/lib/CodeBlock.svelte
  site/static
  site/svelte.config.js
Due: check-yaml-files, validate-typst

bose-einstein-distribution-3d.typ + mexican-hat.typ + operator-orderings.typ + torus.typ + seebeck-effect.typ
  .pre-commit-config.yaml
  assets/bose-einstein-distribution-3d/bose-einstein-distribution-3d.pdf
  assets/bose-einstein-distribution-3d/bose-einstein-distribution-3d.png
  assets/bose-einstein-distribution-3d/bose-einstein-distribution-3d.typ
  assets/grand-canonical-occupation-fluctuations/grand-canonical-occupation-fluctuations.typ
  assets/harmonic-oscillator-energy-vs-freq/harmonic-oscillator-energy-vs-freq.typ
  assets/harmonic-oscillator-energy-vs-inv-temp/harmonic-oscillator-energy-vs-inv-temp.typ
  assets/mexican-hat/mexican-hat.pdf
  assets/mexican-hat/mexican-hat.png
  assets/mexican-hat/mexican-hat.svg
  assets/mexican-hat/mexican-hat.typ
  assets/operator-orderings/operator-orderings.pdf
  assets/operator-orderings/operator-orderings.png
  assets/operator-orderings/operator-orderings.typ
  assets/regular-vs-bayes-nn/regular-vs-bayes-nn.typ
  assets/roc-curve/roc-curve.typ
  assets/seebeck-effect/seebeck-effect.pdf
  assets/seebeck-effect/seebeck-effect.png
  assets/seebeck-effect/seebeck-effect.typ
  assets/self-attention/self-attention.typ
  assets/torus/torus.pdf
  assets/torus/torus.png
  assets/torus/torus.typ
  readme.md
  site/package.json
  site/src/routes/+page.svelte
Due: check-yaml-files, validate-typst

add iron-lattice-ferrox-logo diagram, fix 12 YAML metadata errors
  .gitignore
  .pre-commit-config.yaml
  assets/angular-momentum-quantization/angular-momentum-quantization.yml
  assets/autoencoder/autoencoder.yml
  assets/concave-functions/concave-functions.yml
  assets/convex-functions/convex-functions.yml
  assets/critical-temperature/critical-temperature.yml
  assets/dft-mlff-cff-speed-accuracy-transfer/dft-mlff-cff-speed-accuracy-transfer.yml
  assets/iron-lattice-ferrox-logo/ferrox-logo.svg
  assets/iron-lattice-ferrox-logo/iron-lattice-ferrox-logo-hd.png
  assets/iron-lattice-ferrox-logo/iron-lattice-ferrox-logo.pdf
  assets/iron-lattice-ferrox-logo/iron-lattice-ferrox-logo.png
  assets/iron-lattice-ferrox-logo/iron-lattice-ferrox-logo.svg
  assets/iron-lattice-ferrox-logo/iron-lattice-ferrox-logo.typ
  assets/iron-lattice-ferrox-logo/iron-lattice-ferrox-logo.yml
  assets/jensens-inequality/jensens-inequality.yml
  assets/light/light.yml
  assets/matsubara-contour-2/matsubara-contour-2.yml
  assets/normalizing-flow-coupling-layer/normalizing-flow-coupling-layer.yml
  assets/open-string-topologies/open-string-topologies.yml
  assets/operator-orderings/operator-orderings.yml
  assets/tanh/tanh.yml
  assets/variational-autoencoder/variational-autoencoder.yml
  assets/wyckoff-positions/wyckoff-positions.yml
  readme.md
  scripts/convert_assets.py
  scripts/render_typst.py
Due: check-yaml-files, validate-typst

Migrate site tooling to vite-plus with type-aware linting
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  site/deno.jsonc
  site/eslint.config.js
  site/package.json
  site/src/app.css
  site/src/app.html
  site/src/lib/ThemeToggle.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/[slug]/+page.svelte
  site/svelte.config.js
  site/vite.config.ts
Due: check-yaml-files

Enable pedantic linting, add staged hooks, fix all violations
  .github/workflows/gh-pages.yml
  .github/workflows/link-check.yml
  .github/workflows/lint.yml
  .gitignore
  .pre-commit-config.yaml
  site/package.json
  site/src/app.css
  site/src/app.html
  site/src/lib/DiagramCard.svelte
  site/src/lib/ThemeToggle.svelte
  site/src/lib/index.ts
  site/src/routes/+layout.svelte
  site/vite.config.ts
Due: check-yaml-files

fixes
  assets/torus-fundamental-domain/torus-fundamental-domain.typ
  readme.md
  scripts/check_yaml_files.py
  scripts/convert_assets.py
  scripts/render_tikz.py
  scripts/render_typst.py
  site/package.json
  site/src/app.css
  site/src/lib/CodeBlock.svelte
  site/src/lib/DiagramCard.svelte
  site/src/lib/Tags.svelte
  site/src/lib/index.ts
  site/src/lib/state.svelte.ts
  site/src/routes/+layout.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/vite.config.ts
Due: validate-typst

Deduplicate fractal renderer and correct Koch curve
  .gitignore
  .idea/.gitignore
  .idea/diagrams.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/modules.xml
  .idea/vcs.xml
  .pre-commit-config.yaml
  assets/_shared/fractals.typ
  assets/fractal-cantor-dust/fractal-cantor-dust.typ
  assets/fractal-cantor-dust/fractal-standalone.typ
  assets/fractal-dragon-curve/fractal-dragon-curve.typ
  assets/fractal-dragon-curve/fractal-standalone.typ
  assets/fractal-eisenstein/fractal-eisenstein.typ
  assets/fractal-gosper-curve/fractal-gosper-curve.typ
  assets/fractal-gosper-curve/fractal-gosper-curve.yml
  assets/fractal-gosper-curve/fractal-standalone.typ
  assets/fractal-koch-curve/fractal-koch-curve-hd.png
  assets/fractal-koch-curve/fractal-koch-curve.pdf
  assets/fractal-koch-curve/fractal-koch-curve.png
  assets/fractal-koch-curve/fractal-koch-curve.svg
  assets/fractal-koch-curve/fractal-koch-curve.typ
  assets/fractal-koch-curve/fractal-koch-curve.yml
  assets/fractal-koch-curve/fractal-standalone.typ
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.typ
  assets/fractal-sierpinski-carpet/fractal-standalone.typ
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.typ
  assets/fractal-sierpinski-curve/fractal-standalone.typ
  readme.md
  scripts/render_typst.py
  scripts/update_readme_table.py
Due: check-yaml-files, validate-typst

Simplify fractal shared helpers and refresh rendered assets
  .gitignore
  assets/_shared/fractals.typ
  assets/fractal-cantor-dust/fractal-cantor-dust-hd.png
  assets/fractal-cantor-dust/fractal-cantor-dust.pdf
  assets/fractal-cantor-dust/fractal-cantor-dust.png
  assets/fractal-cantor-dust/fractal-cantor-dust.svg
  assets/fractal-dragon-curve/fractal-dragon-curve-hd.png
  assets/fractal-dragon-curve/fractal-dragon-curve.pdf
  assets/fractal-dragon-curve/fractal-dragon-curve.png
  assets/fractal-eisenstein/fractal-eisenstein-hd.png
  assets/fractal-eisenstein/fractal-eisenstein.pdf
  assets/fractal-eisenstein/fractal-eisenstein.png
  assets/fractal-eisenstein/fractal-eisenstein.svg
  assets/fractal-gosper-curve/fractal-gosper-curve-hd.png
  assets/fractal-gosper-curve/fractal-gosper-curve.pdf
  assets/fractal-gosper-curve/fractal-gosper-curve.png
  assets/fractal-gosper-curve/fractal-gosper-curve.svg
  assets/fractal-koch-curve/fractal-koch-curve-hd.png
  assets/fractal-koch-curve/fractal-koch-curve.pdf
  assets/fractal-koch-curve/fractal-koch-curve.png
  assets/fractal-koch-curve/fractal-koch-curve.svg
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet-hd.png
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.pdf
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve-hd.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.pdf
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.svg
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.yml
  scripts/render_typst.py
  scripts/update_readme_table.py
Due: check-yaml-files, validate-typst

Polish fractal layout, strokes, and stage selection
  assets/_shared/fractals.typ
  assets/fractal-cantor-dust/fractal-cantor-dust-hd.png
  assets/fractal-cantor-dust/fractal-cantor-dust.pdf
  assets/fractal-cantor-dust/fractal-cantor-dust.png
  assets/fractal-cantor-dust/fractal-cantor-dust.svg
  assets/fractal-dragon-curve/fractal-dragon-curve-hd.png
  assets/fractal-dragon-curve/fractal-dragon-curve.pdf
  assets/fractal-dragon-curve/fractal-dragon-curve.png
  assets/fractal-dragon-curve/fractal-dragon-curve.yml
  assets/fractal-eisenstein/fractal-eisenstein-hd.png
  assets/fractal-eisenstein/fractal-eisenstein.pdf
  assets/fractal-eisenstein/fractal-eisenstein.png
  assets/fractal-eisenstein/fractal-eisenstein.svg
  assets/fractal-gosper-curve/fractal-gosper-curve-hd.png
  assets/fractal-gosper-curve/fractal-gosper-curve.pdf
  assets/fractal-gosper-curve/fractal-gosper-curve.png
  assets/fractal-gosper-curve/fractal-gosper-curve.svg
  assets/fractal-koch-curve/fractal-koch-curve-hd.png
  assets/fractal-koch-curve/fractal-koch-curve.pdf
  assets/fractal-koch-curve/fractal-koch-curve.png
  assets/fractal-koch-curve/fractal-koch-curve.svg
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet-hd.png
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.pdf
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve-hd.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.pdf
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.svg
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.yml
Due: check-yaml-files, validate-typst

Drop broken fractalcurves.com refs; fail on unknown preset kinds
  assets/_shared/fractals.typ
  assets/fractal-dragon-curve/fractal-dragon-curve.yml
  assets/fractal-gosper-curve/fractal-gosper-curve.yml
  assets/fractal-koch-curve/fractal-koch-curve.yml
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.yml
Due: check-yaml-files, validate-typst

Remove redundant Cantor dust fractal diagram
  assets/_shared/fractals.typ
  assets/fractal-cantor-dust/fractal-cantor-dust-hd.png
  assets/fractal-cantor-dust/fractal-cantor-dust.pdf
  assets/fractal-cantor-dust/fractal-cantor-dust.png
  assets/fractal-cantor-dust/fractal-cantor-dust.svg
  assets/fractal-cantor-dust/fractal-cantor-dust.typ
  assets/fractal-cantor-dust/fractal-cantor-dust.yml
  readme.md
Due: check-yaml-files, validate-typst

Fractal curve typst (#57)
  .pre-commit-config.yaml
  assets/_shared/fractals.typ
  assets/fractal-dragon-curve/fractal-dragon-curve-hd.png
  assets/fractal-dragon-curve/fractal-dragon-curve.pdf
  assets/fractal-dragon-curve/fractal-dragon-curve.png
  assets/fractal-dragon-curve/fractal-dragon-curve.typ
  assets/fractal-dragon-curve/fractal-dragon-curve.yml
  assets/fractal-eisenstein/fractal-eisenstein-hd.png
  assets/fractal-eisenstein/fractal-eisenstein.pdf
  assets/fractal-eisenstein/fractal-eisenstein.png
  assets/fractal-eisenstein/fractal-eisenstein.svg
  assets/fractal-eisenstein/fractal-eisenstein.typ
  assets/fractal-eisenstein/fractal-eisenstein.yml
  assets/fractal-gosper-curve/fractal-gosper-curve-hd.png
  assets/fractal-gosper-curve/fractal-gosper-curve.pdf
  assets/fractal-gosper-curve/fractal-gosper-curve.png
  assets/fractal-gosper-curve/fractal-gosper-curve.svg
  assets/fractal-gosper-curve/fractal-gosper-curve.typ
  assets/fractal-gosper-curve/fractal-gosper-curve.yml
  assets/fractal-koch-curve/fractal-koch-curve-hd.png
  assets/fractal-koch-curve/fractal-koch-curve.pdf
  assets/fractal-koch-curve/fractal-koch-curve.png
  assets/fractal-koch-curve/fractal-koch-curve.svg
  assets/fractal-koch-curve/fractal-koch-curve.typ
  assets/fractal-koch-curve/fractal-koch-curve.yml
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet-hd.png
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.pdf
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.png
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.typ
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.yml
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve-hd.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.pdf
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.png
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.svg
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.typ
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.yml
  citation.cff
  readme.md
  scripts/render_typst.py
  scripts/update_readme_table.py
Due: check-yaml-files, validate-typst

Simplify Typst diagrams and polish the gallery site.
  .github/workflows/link-check.yml
  assets/atomistic-gpu-batching/atomistic-gpu-batching.typ
  assets/ferroelectric-response/ferroelectric-response.typ
  assets/ferroelectric-response/ferroelectric-response.yml
  assets/in-flight-auto-batcher/in-flight-auto-batcher.typ
  assets/nmosfet-amplifier-circuit/nmosfet-amplifier-circuit.typ
  assets/organic-molecule/organic-molecule.yml
  assets/roost-update/roost-update.yml
  assets/sierpinski-triangle/sierpinski-triangle.yml
  assets/theta-beta-m-diagram/theta-beta-m-diagram.typ
  assets/two-point-propagator-flow/two-point-propagator-flow.typ
  assets/zt-vs-n/zt-vs-n.yml
  site/package.json
  site/src/app.css
  site/src/lib/CodeBlock.svelte
  site/src/lib/DiagramCard.svelte
  site/src/lib/Tags.svelte
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
Due: check-yaml-files, validate-typst

Polish Typst rendering and gallery behavior
  .github/workflows/render-diagrams.yml
  assets/_shared/fractals.typ
  assets/fractal-dragon-curve/fractal-dragon-curve.typ
  assets/fractal-eisenstein/fractal-eisenstein.typ
  assets/fractal-eisenstein/fractal-eisenstein.yml
  assets/fractal-gosper-curve/fractal-gosper-curve.typ
  assets/fractal-koch-curve/fractal-koch-curve.typ
  assets/fractal-sierpinski-carpet/fractal-sierpinski-carpet.typ
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.typ
  assets/fractal-sierpinski-curve/fractal-sierpinski-curve.yml
  assets/in-flight-auto-batcher/in-flight-auto-batcher.typ
  assets/nmosfet-amplifier-circuit/nmosfet-amplifier-circuit.typ
  assets/theta-beta-m-diagram/theta-beta-m-diagram.typ
  assets/two-point-propagator-flow/two-point-propagator-flow.typ
  scripts/render_typst.py
  scripts/update_readme_table.py
  site/src/lib/DiagramCard.svelte
  site/src/lib/state.svelte.ts
  site/src/routes/+page.svelte
  site/src/routes/[slug]/+page.svelte
Due: check-yaml-files, validate-typst

Add shared Typst modules for recurring diagram elements
  assets/_shared/feynman.typ
  assets/_shared/matsubara.typ
  assets/_shared/network.typ
  assets/_shared/phase-space.typ
  assets/_shared/plot.typ
  assets/_shared/shading.typ
  assets/_shared/signal-plot.typ
Due: validate-typst

Prune unused LaTeX packages and factor out repeated TikZ code
  assets/burrows-wheeler-transform/burrows-wheeler-transform.tex
  assets/convex-hull-of-stability/convex-hull-of-stability.tex
  assets/cyclegan/cyclegan.tex
  assets/de-bruijn-graph/de-bruijn-graph.tex
  assets/deep-belief-network/deep-belief-network.tex
  assets/dft-mlff-cff-speed-accuracy-transfer/dft-mlff-cff-speed-accuracy-transfer.tex
  assets/dna-double-helix/dna-double-helix.tex
  assets/ergodic/ergodic.tex
  assets/ferroelectric-response/ferroelectric-response.tex
  assets/feynman-diagrams-loop-regulator/feynman-diagrams-loop-regulator.tex
  assets/gas-pressure-on-wall/gas-pressure-on-wall.tex
  assets/grand-canonical-occupation-fluctuations/grand-canonical-occupation-fluctuations.tex
  assets/graph-attention-layer/graph-attention-layer.tex
  assets/long-short-term-memory/long-short-term-memory.tex
  assets/matsubara-contour-deformation/matsubara-contour-deformation.tex
  assets/message-passing-neural-network/message-passing-neural-network.tex
  assets/open-string-topologies/open-string-topologies.tex
  assets/periodic-table/periodic-table.tex
  assets/plane-to-torus/plane-to-torus.tex
  assets/regular-vs-bayes-nn/regular-vs-bayes-nn.tex
  assets/seebeck-effect/seebeck-effect.tex
  assets/thomson-scattering/thomson-scattering.tex
  assets/tori/tori.tex
  assets/web-graph/web-graph.tex
Due: none

bump deps
  site/package.json
  site/src/lib/index.ts
Due: none

Path conditions:
  check-yaml-files: any of: \.(yaml|yml)$
  validate-typst: any of: \.typ$
